// ----------------------------------------------------------
// 文件说明
// 
// 1、专用于定义骨骼颜色的class
// 2、您可以自行增删改这里的设置，以便更好的布局
// ----------------------------------------------------------

// 普通样式
.bone {
	background-color: #eeeeee;
}

// 浅色样式
.bone {
	background-color: #f6f6f6;
}

// 深色样式
.bone {
	background-color: #dddddd;
}
