// ----------------------------------------------------------
// 文件说明
// 
// 1、如果需要自行配置字号、行高、文字颜色，请打开/styles/variable.scss进行设置
// 2、如果需要设置图标字体，请打开同目录下的/styles/global/iconfont.scss进行设置
// 3、您可以自行增删改这里的设置，以便更好的布局
// ----------------------------------------------------------

// ----------------------------------------------------------
// 字体样式
// ----------------------------------------------------------

// 加粗
.bold {
    font-weight: bold;
}

// 下划线
.underline {
    text-decoration: underline;
}

// 贯穿线
.through {
    text-decoration: line-through;
}


// ----------------------------------------------------------
// 溢出截取
// ----------------------------------------------------------

// 直接截断
.clip {
    text-overflow: clip;
    // white-space: nowrap;
    overflow: hidden;
}

// 省略号截断
.ellipsis {
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
}

// ----------------------------------------------------------
// 对齐
// ----------------------------------------------------------

// 左对齐
.tl { text-align: left; }

// 中对齐
.tc { text-align: center; }

// 右对齐
.tr { text-align: right }

// ----------------------------------------------------------
// nvue专用（行数）
// ----------------------------------------------------------

/* #ifdef APP-PLUS-NVUE */

.lines-1 { lines: 1; }
.lines-2 { lines: 2; }
.lines-3 { lines: 3; }
.lines-4 { lines: 4; }
.lines-5 { lines: 5; }

/* #endif */
