// ----------------------------------------------------------
// 无浮动dot样式类
// ----------------------------------------------------------

// 中型（默认）dot
.dot {
	background-color: #f5222d;
	border-radius: 750rpx;
	width: 28rpx;
	height: 28rpx;
}

// ----------------------------------------------------------
// 浮动dot样式类
// ----------------------------------------------------------

// 默认浮动dot
.dot-float {
	@extend .dot;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
}
