// ----------------------------------------------------------
// 文件说明
// 
// 此处对全部页面的page标签进行处理，请自行配置
// ----------------------------------------------------------

// 页面通用设置
page {
	font-size: 28rpx;
    line-height: 36rpx;
    color: #333333;
}

// 容器box-sizing
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image { box-sizing: border-box; }

// 图片
image {
	max-width: 100%;
	position: relative;
	z-index: 0;
}

